@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Limelight&family=Space+Mono&display=swap');



@font-face {
    font-family: 'JejuHallasan';
    src: url('../fonts/JejuHallasan-Regular.ttf');
} 

.font-monospace{
    font-family: 'Space Mono';
}
.font-JejuHallasan{
    font-family: 'JejuHallasan';
}
