

/* @font-face */ 

@font-face {
    font-family: 'JejuHallasan';
    src: url('../fonts/JejuHallasan-Regular.ttf');
} 
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/space-mono.regular.ttf');
} 


.font-JejuHallasan{
    font-family: 'JejuHallasan';
}

.font-monospace{
    font-family: 'Space Mono';
}
